body{
  background-color: rgb(23, 28, 109);
  color: rgb(255, 218, 11);
  font-family: roboto, sans-serif;
}

a{
  color: gold;
  text-decoration: none;
}

a:hover{
  opacity: 0.5;
}

li{
  margin-bottom: 10px;
}

img{
  object-fit: cover;
  object-position: center;
}

.odin-recipe-logo-pic{
  width: 40px;
  height: 40px;
  margin-bottom: 12px;
}
.odin-recipe-logo{
  display: inline-block;
  margin-right: 5px;
}
.container{
  display:flex;
  flex-direction: row;
  align-items: center;
}